@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  /* Colors */
  /* Primary */

  --linear-gradient-active-input-border: hsl(249, 99%, 64%);
  --red-input-errors: hsl(0, 100%, 66%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.card {
  /* border: 1px solid gray; */
  /* margin: 0 auto; */
  width: 375px;
  height: 704px;
}
.card__hero {
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  /* position: absolute; */
  /* width: 375px;
  height: 240px;
  left: 0px;
  top: 0px; */
}
label {
  font-family: "Space Grotesk";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  margin-bottom: 29px;
}

.card__img-front {
  display: flex;
  width: 343px;
  height: 251px;
  /* left: 16px;
  top: 32px; */
}
.card__img-one {
  background-image: url(/images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 286px;
  height: 157px;
  left: 73px;
  top: 32px;
}
.card__img-paragraph-one {
  position: absolute;
  height: 11px;
  left: 80.67%;
  right: 80.67%;
  top: calc(50% - 11px / 2 - 0.46px);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: var(--White);
}
.card__img-two {
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 286px;
  height: 157px;
  left: 16px;
  top: 126px;
}
.card__circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  height: 30px;
  width: 54px;
  left: 20px;
  top: 18px;
}
.card__circle-big {
  background-color: var(--White);
  height: 30px;
  width: 30.18633460998535px;
  border-radius: 50px;
}
.card__circle-small {
  border: 1px solid white;
  height: 13.5px;
  width: 13.583850860595703px;
  border-radius: 50px;
}
.card__paragraph-numbers {
  position: absolute;
  height: 23px;
  left: 6.99%;
  right: 9.44%;
  top: calc(50% - 23px / 2 + 18px);
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--White);
}
.card__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__paragraph-name {
  position: absolute;
  left: 6.99%;
  right: 7.31%;
  top: 79.62%;
  bottom: 12.74%;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--White);
}
.card__paragraph-date {
  position: absolute;
  left: 80%;
  right: 7.31%;
  top: 79.62%;
  bottom: 12.74%;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--White);
}
.card__form {
  position: absolute;
  width: 327px;
  height: 328px;
  left: 24px;
  top: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input__one {
  height: 45px;
  width: 327px;
  border: 1px solid hsl(279, 6%, 55%);
  border-radius: 8px;
  text-indent: 16px;
  opacity: 0.25;
}
.input__two {
  height: 45px;
  width: 327px;
  border: 1px solid hsl(279, 6%, 55%);
  border-radius: 8px;
  color: #21092f08;
  mix-blend-mode: normal;
  text-indent: 16px;
  opacity: 0.25;
}
.card__form-inpunts {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
}
.input__padd {
  padding-top: 9px;
  justify-content: center;
}
.inputs {
  font-family: "Space Grotesk";
  text-indent: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: hsla(278, 68%, 11%, 0.25);
  opacity: 0.25;
}
.input__mm-yy {
  width: 72px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid hsl(279, 6%, 55%);
}
.input__date-number {
  width: 164px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid hsl(279, 6%, 55%);
}

.button {
  background-color: var(--Very-dark-violet);
  text-align: center;
  align-content: center;
  border-radius: 8px;
  padding: 15px 0;
  cursor: pointer;
  margin-top: 7px;
}
.card__form-button {
  text-decoration: none;
  color: var(--White);
}

@media screen and (min-width: 600px) {
  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .card__hero {
    /* background-image: url(/images/bg-main-desktop.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* display: flex; */
    width: 483px;
    height: 100vh;
  }
  .card__img-two {
    width: 447px;
    height: 245px;
    left: 150px;
    top: 200px;
  }
  .card__img-one{
    width: 447px;
    height: 245px;
    left: 250px;
    top: 500px;
  }
  .card__form-section-two {
    position: absolute;
    left: 1000px;
    top: 50px;
  }
}
